/* Body Styling */
html, body{
    height: 100%;
}

/* Header Styling */
header{
    background-image: linear-gradient(to right, blue, darkblue);
}

/* Views Styling */
.views{
    height: 93vh;
}

/* Input Styling */
input{
    font-size: x-large;
}

/* Button Styling */
button{
    height: 47px;
}

#result-current div{
    background-color: red;
    min-width: 95%;
    max-height: 95%;
    margin: 0 auto;
}

#result-5Day h3{
    height: fit-content;
}

#result-5Day div{
    height: 100%;
}
